.btn-sbm{
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    margin-left: 5px;
}

.input{
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-right: 5px;
}

.input:focus{
    outline: none;
}